* {
  transition: all 1s ease;
}

body {
  font-family: serif;
  margin: 0;
  padding: 0;
}

header {
  color: #f8f8ff;
}

a h1 {
  color: white;
}

a:hover {
  text-decoration: none;
}

.header_left,
.header_right {
  padding: 25px;
}

.header_right a {
  color: #f8f8ff;
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.searchp {
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
}

#search img {
  height: 40px;
}


#recherche {
  display: inline !important;
}

footer ul {
  list-style-type: none;
}
#anim {
  /* text-shadow: 0.5px 0.5px 10px grey; */
  margin-top: 100px;
  overflow: hidden;
  height: 250px;
}

#anim p {
  font-size: 20px;
}

.text-cache {
  margin-top: -360px;
}

.p-cache {
  font-size: 15px !important;
}

#parent-txt-carte {
  display: flex;
}

#txt-carte {
  margin: auto;
  font-size: 25px;
  font-style: italic;
}
.form-control, .btn, .custom-select {
  border-radius: 25px;
}

