* {
  transition: all 1s ease;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header {
  color: #f8f8ff;
}

a h1 {
  color: white;
}

a:hover {
  text-decoration: none;
}

.header_left,
.header_right {
  padding: 25px;
}

.header_right a {
  color: #f8f8ff;
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
}

#search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.searchp {
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
}

#search img {
  height: 40px;
}


#recherche {
  display: inline !important;
}

footer ul {
  list-style-type: none;
}
#anim {
  /* text-shadow: 0.5px 0.5px 10px grey; */
  margin-top: 100px;
  overflow: hidden;
  height: 250px;
}

#anim p {
  font-size: 20px;
}

.text-cache {
  margin-top: -360px;
}

.p-cache {
  font-size: 15px !important;
}

#parent-txt-carte {
  display: flex;
}

#txt-carte {
  margin: auto;
  font-size: 25px;
  font-style: italic;
}
.form-control, .btn, .custom-select {
  border-radius: 25px;
}

#listimg {
  max-width: 30%!important;
  height: 100px!important;
}

#nomEnseigne {
  margin-bottom: 0;
  font-size: large;
}

table {
  border-collapse: initial;
}
th {
  border-radius: 25px;
}

.pres-enseigne {
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#titre-enseigne {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 5px 5px 5px grey;
}

td {
  border-top: none!important;
}

.textdeconone {
  text-decoration: none!important;
}

.carousel img {
  max-width: 90%;
  height: 22em;
  margin: auto;
}

#presenseigne {
  border: 1px grey solid;
  border-radius: 50px;
  background-color:#FAF7F1;
  margin: auto;
  width: 80%;
  padding: 40px;
}

.recherchenseigne {
  border-radius: 30px!important;
}

#covid {
  font-style: italic;
}

.compteperso {
  background-color:#FAF7F1 ;
  border: 1px grey solid;
  padding: 100px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

#france {
  max-width: 100%!important;
}

.produit .produit-soustitre {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.produit .produit-prix {
  font-size: 15px;
  font-weight: bold;
}

.produit img {
  height: 10em;
}

.table td, .table th {
  padding: 0.5rem!important;
}
