{% extends 'base.html.twig' %}

{% block title %} Click & Coiff - Inscription {% endblock %}

{% block content %}

<h2 class="text-center mt-2">Inscription</h2>

<div class="text-center">
    {{form (form)}}
</div>

{% endblock %}
