{% extends 'base.html.twig' %}

{% block title %}Contact - Click & Coiff{% endblock %}

{% block content %}

{% block inscription %} {% endblock %}

<h2 class="text-center mt-4">Nous contacter</h2>

<div class="text-center">
    {{ form (contactform)}}
</div>

{% endblock %}
