<h2> Nouveau message d'un utilisateur Click & Coiff</h2>
<p> <strong>Nom : </strong>{{ contact.nom }}</p><br>
<p> <strong>Adresse Mail : </strong>{{ contact.email }}</p><br>
<p> <strong>Objet : </strong>{{ contact.objet }}</p><br>
<p> <strong>Message : </strong>{{ contact.message }}</p>